.postCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: #f7f7f7;
    border-radius: 20px;
    word-break: break-all;
}

.credentials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-weight: 700;
    font-size: 18px;
}

.author {
    font-size: 14px;
}

.body {
    font-size: 18px;
    overflow: hidden;
    width: 95%;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.button {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 30px;
    width: 20%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #252727;
}

@media (max-width: 1600px) and (min-width: 1280px) {
    .button {
        width: 30%;
    }
}

@media (max-width: 1280px) and (min-width: 960px) {
    .buttons {
        gap: 25px;
    }
    .button {
        width: 80%;
        font-size: 14px;
    }
}

@media (max-width: 960px) and (min-width: 768px) {
    .buttons {
        gap: 20px;
    }
    .button {
        width: 80%;
        font-size: 14px;
    }
}

@media (max-width: 768px) and (min-width: 460px) {
    .buttons {
        gap: 15px;
    }
    .button {
        width: 80%;
        font-size: 12px;
    }
}

@media (max-width: 460px) {
    .buttons {
        gap: 10px;
    }
    .button {
        width: 80%;
        font-size: 10px;
    }
}