.UserCard {
    width: 40vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background-color: #f7f7f7;
    border-radius: 20px;
}

.username {
    font-size: 22px;
}

.roles {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #252727;
}
.button:disabled {
    background-color: #575757;
    border: none;
    transition: none;
    cursor: default;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
