.flexTitle {
    align-self: center;
}

.form {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
}

.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid var(--accent-color);
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flexRow > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.link {
    font-size: 14px;
    margin-left: 5px;
    color: var(--accent-color);
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
}
.link:hover {
    color: #84b3ff;
}

.flexColumn > label {
    color: #151717;
    font-weight: 600;
}

.buttonSubmit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonSubmit:hover {
    background-color: #252727;
}

.text {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}


@media (max-width: 1280px) and (min-width: 960px) {
    .flexTitle {
        font-size: 18px;
    }
    .form {
        gap: 10px;
        padding: 25px;
        width: 400px;
    }
    
    .inputForm {
        height: 50px;
        padding-left: 10px;
    }
    
    .input {
        width: 85%;
    }
    
    .flexRow {
        gap: 10px;
    }
    
    .flexRow > div > label {
        font-size: 12px;
    }
    
    .link {
        font-size: 12px;
    }
    
    .buttonSubmit {
        font-size: 14px;
        width: 100%;
    }
    
    .text {
        font-size: 12px;
    }
}

@media (max-width: 960px) and (min-width: 768px) {
    .flexTitle {
        font-size: 16px;
    }
    .form {
        gap: 10px;
        padding: 25px;
        width: 400px;
    }
    
    .inputForm {
        height: 50px;
        padding-left: 8px;
    }
    
    .input {
        width: 80%;
    }
    
    .flexRow {
        gap: 10px;
    }
    
    .flexRow > div > label {
        font-size: 12px;
    }
    
    .link {
        font-size: 12px;
    }
    
    .buttonSubmit {
        font-size: 12px;
        width: 100%;
    }
    
    .text {
        font-size: 12px;
    }
}

@media (max-width: 768px) and (min-width: 480px) {
    .flexTitle {
        font-size: 14px;
    }
    .form {
        gap: 8px;
        padding: 25px;
        width: 300px;
    }
    
    .inputForm {
        height: 50px;
        padding-left: 10px;
    }
    
    .input {
        width: 80%;
    }
    
    .flexRow {
        gap: 10px;
    }
    
    .flexRow > div > label {
        font-size: 12px;
    }
    
    .link {
        font-size: 12px;
    }
    
    .buttonSubmit {
        font-size: 14px;
        width: 100%;
    }
    
    .text {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .flexTitle {
        font-size: 10px;
    }
    .form {
        gap: 8px;
        padding: 15px;
        width: 150px;
    }
    
    .inputForm {
        height: 50px;
        padding-left: 10px;
    }
    
    .input {
        width: 55%;
        font-size: 10px;
    }
    
    .flexRow {
        gap: 10px;
    }
    
    .flexRow > div > label {
        font-size: 10px;
    }
    
    .link {
        font-size: 10px;
    }
    
    .buttonSubmit {
        font-size: 12px;
        width: 100%;
    }
    
    .text {
        font-size: 10px;
    }
}