.AdminPanel {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 20px auto;
}

.usernameInput {
    width: 15%;
    padding: 10px 10px;
    font-size: 14px;
    color: var(--color);
    background-color: #f5f5f5;
    border: 1px solid var(--color);
    outline: none;
    border-radius: 10px;
}