.flexTitle {
    align-self: center;
}

.form {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
}

.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 70%;
    height: 100%;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid var(--accent-color);
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flexRow > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.flexColumn > label {
    color: #151717;
    font-weight: 600;
}

.buttonSubmit {
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 40%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonSubmit:hover {
    background-color: #252727;
}

.passwords {
    display: flex;
    flex-direction: column;
    gap: 10px;
}